.uploadform {
    color: $white-regular;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    &__header {
        color: $white-regular;
    }

    &__picker {
        display: none;
    }

    &__button {
        @include btn--ghost($white-regular, $overlay-color);

        &--remove {
            border-radius: 50%;
            min-width: 0;
        }
    }
}
